* {
    font-family: "Lucida Console", Monaco, monospace;
}

h1 {
    font-size: 4em;
    font-weight: 900;
    text-shadow: 5px 5px 10px white;
}

h2 {
    font-size: 2em;
    font-weight: 700;
}

h3 {
    font-size: 1.5em;
    font-weight: 600;
    color: darkblue;
    text-shadow: 2px 2px 8px black;
}

h4 {
    font-size: 1.25em;
    font-weight: 600;
    text-shadow: 3px 3px 5px black;
}

html {
    background: url("../images/yt1300.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.header {
    width: 960px;
    text-align: center;
    margin: 0 auto;
    border-bottom: 10px ridge tan;
}

.game-play {
    width: 960px;
    text-align: center;
    margin: 0 auto;
    padding-top: 50px;
}

.character_card {
    display: inline-block;
    margin: 5px;
    background: beige;
    border: 2px outset dimgray;
    padding: 0 5px;
}

.card_name {
    font-size: 1.5em;
    font-weight: bold;
}

.card_image {
    height: 150px;
    width: 150px;
}

.card_health {
    font-size: 1.25em;
    font-weight: 400;
}

.row-header-chosen {
    display: none;
}

.row-header-enemies {
    display: none;
}

.row-header-fight {
    display: none;
}

.row-header-defender {
    display: none;
}

.enemy_card {
    display: inline-block;
    margin: 5px;
    background: black;
    border: 2px outset white;
    padding: 0 5px;
    color: white;
}

.hero {
    border: 5px outset dimgray;
}

.rival {
    border: 5px outset darkred;
    color: darkred;
}

#attack-btn {
    font-size: 20px;
    font-weight: bold;
    background-color: red;
    border-color: darkred;
    border-radius: 10px;
    padding: 10px 20px;
    margin: 10px 0;
    display: none;
}

#battle-stats-display {
    display: none;
}

#attack_stats {
    display: table;
    margin: 0 auto;
    color: #9ce52a;
    /*background: black;*/
}

#counter_attack_stats {
    display: table;
    margin: 0 auto;
    color: red;
    /*background: black;*/
}

#result {
    display: table;
    margin: 5px auto;
    /*    background: beige;*/
}

#reset-btn {
    display: none;
    font-size: 20px;
    font-weight: bold;
    background-color: cyan;
    border-color: darkcyan;
    border-radius: 10px;
    padding: 10px 20px;
    margin: 10px 0;
}