* {
    font-family: "Lucida Console", Monaco, monospace;
}

h1 {
    font-size: 4em;
    font-weight: 900;
}

h2 {
    font-size: 2em;
    font-weight: 700;
}

html {
    background: url("../images/yt1300.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.header {
    width: 960px;
    text-align: center;
    margin: 0 auto;
    border-bottom: 10px ridge tan;
}

.game-play {
    width: 960px;
    text-align: center;
    margin: 0 auto;
    padding-top: 50px;
}

.character_card {
    display: inline-block;
    margin: 5px;
    background: beige;
    border: 2px outset dimgray;
    padding: 0 5px;
}
.card_name {
    font-size: 1.5em;
    font-weight: bold;
}

.card_image {
    height: 150px;
    width: 150px;
}

.card_health {
    font-size: 1.25em;
    font-weight: 400;
}

.row-header-chosen {
    display: none;
}

.row-header-enemies {
    display: none;
}

.row-header-fight {
    display: none;
}

.row-header-defender {
    display: none;
}

.enemy_card {
    display: inline-block;
    margin: 5px;
    background: black;
    border: 2px outset white;
    padding: 0 5px;
    color: white;
}

.hero {
    border: 5px outset dimgray;
}

.rival {
    border: 5px outset darkred;
    color: darkred;
}

/*ul {
    padding: 10px 0;
}
li {
    display: inline;
    padding: 5px;
}*/

#attack-btn {
    font-size: 20px;
    font-weight: bold;
    background-color: red;
    border-color: darkred;
    border-radius: 10px;
    padding: 10px 20px;
    margin: 10px 0;
    display: none;
}

#reset-btn {
    font-size: 20px;
    font-weight: bold;
    background-color: cyan;
    border-color: darkcyan;
    border-radius: 10px;
    padding: 10px 20px;
    margin: 10px 0;
}


















/*
background-color:black;
background-image:
radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px),
radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px),
radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;*/
